local
logs
patchouli_books
saves
manifest.json
minecraftinstance.json
OpenComputersMod-1.7.7+5413028-lua52-native.64.dll
OpenComputersMod-1.7.7+5413028-lua53-native.64.dll
options.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json
.mixin.out
backups
betweenlands_gallery
crash-reports
downloads
dumps
fonts
journeymap
llibrary
mods
